<layout name="Layout/layout"/>
<style>
    .btn,.fn-btn{
        width: 80px;
    }
</style>
<div class="row-fluid">
    <div class="span12">
        <h4>bootstrp</h4>
        <a class="btn">Btn</a>
        <a class="btn btn-primary">Btn</a>
        <a class="btn btn-info">Btn</a>
        <a class="btn btn-success">Btn</a>
        <a class="btn btn-danger">Btn</a>
        <a class="btn btn-link">Btn</a>
    </div>
</div>
<hr>
<div class="row-fluid">
    <div class="span12">
        <h4>fn</h4>
        <a class="fn-btn">Btn</a>
        <a class="fn-btn fn-btn-primary">Btn</a>
        <a class="fn-btn fn-btn-info">Btn</a>
        <a class="fn-btn fn-btn-success">Btn</a>
        <a class="fn-btn fn-btn-danger">Btn</a>
        <a class="fn-btn fn-btn-link">Btn</a>
    </div>
</div>


<link type="text/css" rel="stylesheet" href="__URL__/../src/css/cc.css">
