#humanTable th {
    border-top: none;
    border-left:none;
    text-align: center;
}

#humanTable th {
    line-height: 50px;
    font-size: 13px;
}

#humanTable {
    border-top: none ;
    border-right: none;
}

#humanTable tbody tr td:last-child{

}

#humanTable tbody tr td{
    border-top-color: #f9f9f9;
    min-height: 50px;
    line-height: 40px;
    vertical-align: middle;
}

#humanTable tbody tr td.active{
    background-color: #3d88ba;
}

#humanTable tbody tr td.active:hover{
    box-shadow: 0px 0px 4px rgba(0,0,0,.4);
}

#humanTable tbody tr.hiderow td{
    line-height: 0px;
    padding-bottom: 4px;
    padding-top: 4px;
}

#humanTable tbody tr.hiderow td .event{
    display: none;
}

.event {
    color: #eeeeee;
    line-height:20px;
    font-size: 11px;
    padding: 2px 4px;
}

#timeRegion{
    font-size: 30px;
    color: #0088CC;
}
