#dateList{
    margin:10px 0px 30px;
}

#dateList ul{
    list-style: none;
    margin-left: 120px;
}

#dateList ul h2 a{
    width: 110px;
    display: inline-block;
}

#dateList ul h2 a i{
    float: right;
}

#dateList ul li{
    padding: 5px 0px;
    border-top: 1px solid #fdfdfd;
}

#dateList ul li:after{
    content: "";
    display: block;
    clear: both;
}

#dateList ul li h3{
    float: left;
    display: inline-block;
    width: 60px;
    margin-left: 50px;
    color:#0088CC ;
    font-weight: normal;
}

#dateList ul li h3 small{
    margin-left: 2px;
    color:#0088CC;
}

#dateList ul li i[class*="icon"]{
    position: relative;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    opacity: .2;
}

#dateList ul li dl{
    float: left;
    padding-left: 20px;
    margin: 5px 0px;
    color: #777;
}

#dateList ul li dl dt{
    padding: 5px 0px;
    font-weight: normal;
    color:#444;
}

#dateList ul li dl dt span{
    display: block;
    font-size: 12px;
    color: #777;
    font-weight: normal;
}

#dateList ul li dl dt i{
    color: #bbbbbb;
}

#dateList ul h2 a:hover{
    cursor: pointer;
}

#dateList .time{
    margin-left: 5px
}

.tdown{
    margin-top: 15px;
    margin-left: 10px;
}

#expBtn{
    position: absolute;
    margin-right: 20px;
    margin-top: 20px;
}